@import url(font.css);

html {
    position: relative;
    min-height: 100%;
}
body {
	/*padding-top: 42px;*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*background-color: #fcfcfc;*/
    /*margin: 0 0 100px;  bottom = footer height */
    margin: 42px 0 50px 0;
	background-color: #F9F9F9;
}

.brand{
	font-family: "Strait";
	text-shadow: 1px 1px #ddd;
}

#login h2 {
	font-family: "Strait";
	text-shadow: 1px 1px #ddd;
	letter-spacing: -2px;
	font-size: 32px;
	padding-left: 40px;
	background: url(../img/login-in-icon.png) no-repeat 0 50% transparent;
}

.navbar .brand {
	width: 169px;
	padding: 9px 20px 9px;
	text-shadow: 1px 1px 0 #000,
		2px 2px 1px #999;
	color: #ddd;
	font-size: 19px;
	letter-spacing: -1px;
}
.navbar .divider-vertical {
	margin: 0;
}
.navbar .navbar-inner,  .navbar-inverse .navbar-inner {
	border-bottom: 2px solid #0088cc;
}
.navbar .nav > li > .dropdown-menu:before {
	display: none;
}
.navbar .nav > li > .dropdown-menu:after {
	display: none;
}

#aql-breadcrumb {
	padding: 0 20px;
	background: url("../img/bg_diagonal_maze.png") repeat scroll 50% 50% #CC0000;
	border-top: 1px solid #fc8383;
	border-bottom: 1px solid #0088cc;
	/*padding-left: 200px;*/
}
#aql-breadcrumb span.label{
	margin-right: 5px;
}
#aql-breadcrumb .breadcrumb {
	display: inline-block;
	background: url("../img/bg_diagonal_maze.png") repeat scroll 50% 50% #CC0000;
	padding: 3px 0;
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-size: 11px;
}
#aql-breadcrumb .breadcrumb * {
	color: #fff;
	text-shadow: 1px 1px 0 #444;
}

.navbar .aql-nav .dropdown .dropdown-menu {
	border-radius: 3px;
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
	border-color: #252525;
}
.navbar .aql-nav .dropdown > .dropdown-menu {
	top : 37px !important;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background: rgb(17,17,17);
	background: -moz-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(27,27,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(100%,rgba(27,27,27,1)));
	background: -webkit-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(27,27,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(27,27,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(17,17,17,1) 0%,rgba(27,27,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(17,17,17,1) 0%,rgba(27,27,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#1b1b1b',GradientType=0 );
}
.navbar .aql-nav .dropdown .dropdown-menu .divider{
	background-color: #111;
	border-bottom: 1px solid #333;
}
.navbar .aql-nav .dropdown .dropdown-menu li a{
	color: #bbb;
}
.navbar .aql-nav .dropdown .dropdown-menu li a:hover{
	color: #fff;
	background-color: #333;
	background-image: none;
}
.navbar .aql-nav .dropdown .dropdown-menu .nav-header{
	color: #bbb;
	text-shadow: 1px 1px 0 black;
}

/* --- BOOTSTRAP COMPONENT --- */
.nav-tabs li.active a, .nav-tabs li.active a:hover{
	font-weight: bold;
	padding: 7px 12px 11px;
	border-top: 3px solid #C00;
}
.nav-tabs li a {
	background-color: #f0f0f0;
	border-color: #EEE #EEE #DDD;
	padding-top: 9px;
	padding-bottom: 11px;
}
.nav-tabs li a:hover {
	padding-top: 7px;
	border-top: 3px solid #FC8383;
}

.alert p, .alert ul{
	margin-bottom: 0;
}

ul.nav > li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

.table-with-description-row tbody tr:nth-child(2n){
	display: none;
}
.table-with-description-row tbody tr:nth-child(2n):hover td,
.table-with-description-row tbody tr:nth-child(2n):hover td {
	background-color: transparent;
}
.table-with-description-row.table-striped tbody tr:nth-child(4n-1),
.table-with-description-row.table-striped tbody tr:nth-child(4n-3){
	cursor: pointer;
}
.table-with-description-row.table-striped tbody tr:nth-child(odd) td {
	/* reset belang .table-striped */
	background-color: transparent;
}
.table-with-description-row.table-striped tbody tr:nth-child(4n-3) td {
	background-color: #F9F9F9;
}
.table-with-description-row.table-striped.table-hover tbody tr:nth-child(4n-3):hover td,
.table-with-description-row.table-striped.table-hover tbody tr:nth-child(4n-1):hover td {
	background-color: #f5f5f5;
}
.modal-body .chzn-container {
	width: 514px !important;
}
.modal-body .chzn-drop {
	width: 512px !important;
}
/* --- END BOOTSTRAP COMPONENT --- */


/* --- SIDE BAR --- */
#aql-side-nav {
	padding-top: 20px;
	/*width: 200px;*/
}
.aql-sidebar-profile {
	padding-bottom: 25px;
}
.aql-sidebar-profile .avatar img {
	width: 60px;
	float: left;
}
.aql-sidebar-profile .aql-profile {
	margin-left: 80px;
}
.aql-sidebar-profile .aql-profile ul.aql-profile-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.aql-sidebar-profile .aql-profile ul.aql-profile-list li {
	font-size: 11px;
}
.aql-sidebar-profile .aql-profile ul.aql-profile-list li.aql-profile-header {
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}
#aql-side-nav .sidebar-nav h4.nav-header {
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	cursor: pointer;
}
#aql-side-nav .sidebar-nav:hover h4.nav-header {
	color: #333;
}
#aql-side-nav .sidebar-nav h4.nav-header i {
	display: none;
}
#aql-side-nav .sidebar-nav:hover h4.nav-header i {
	display: inline;
}
#aql-side-nav .sidebar-nav .nav-list li i {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#aql-side-nav .sidebar-nav .nav-list li:hover i {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
#aql-side-nav .sidebar-nav .nav-list li:hover a {
	color: #333;
}
/* --- END SIDEBAR --- */

/* --- CONTENT --- */
#aql-content-container {
	background:  url("../img/brillant.png") repeat scroll 50% 50% #ffffff;
	border-left: #F3F3F3 1px solid;
	padding-top: 20px;
	padding-bottom: 10px;
	min-width: 300px;
	margin-left: 0;
}

.page-header {
	border-width: 0 0 2px 0;
	padding-bottom: 0;
	margin: 0 0 20px 0;
}
.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5 {
	font-family: "Strait";
	text-shadow: 1px 1px #ddd;
	letter-spacing: -2px;
	margin: 0;
}
.page-header h1 {
	font-size: 30px;
}
.page-header h2 {
	font-size: 26px;
}
.page-header h3 {
	font-size: 22px;
}
.page-header h4 {
	font-size: 20px;
}
.page-header h5 {
	font-size: 18px;
}
.page-header .nav {
	font-size: 14px;
	float: right;
}
.page-header .nav.nav-tabs {
	/*margin-top: 14px;*/
}

.aql-dl-description dt {
	font-weight: normal;
	color: #777;
	text-align: left;
}
.aql-dl-description dt+dd {
	margin-bottom: 5px;
}
.aql-dl-description dd.header {
	font-weight: bold;
}
/* END CONTENT */


/* --- FORM --- */
.input-big {
	font-size: 20px !important;
	padding: 5px !important;
	line-height: 26px !important;
}
input.input-big {
	padding: 8px !important;
}
select.input-big {
	height: 38px;
}
fieldset.aql-fieldset {
	margin: 0;
	border-width: 2px 0 0 0;
	border-color: #0088cc;
	border-style: solid;
}
fieldset.aql-fieldset legend {
	position: static;
	padding: 0 10px 5px 0;
	margin-bottom: 2px;
	font-size: 18px;
	/*color: #2D312B;*/
	font-variant: small-caps;
	letter-spacing: -1px;
	text-align: left;
	text-indent: 0;
	text-transform: none;
	word-spacing: normal;
	border: none;
	width: auto;
}
.control-group {
margin-bottom: 2px;
}
.form-horizontal .control-group {
margin-bottom: 15px;
}

label, input, button, select, textarea {
	font-size: 12px;
	/*line-height: 14px;*/
	line-height: 12px;
	margin-bottom: 3px;
}
select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input
{
	padding: 2px 6px;
	font-size: 12px;
	line-height: 14px;
}
input.input-block-level.input-large {
	font-size: 18px;
	padding: 10px 6px;
	line-height: 18px;
}
select, input[type="file"], input[class*="span"] {
	min-height: 26px;
	height: 26px;
	line-height: 14px;
}

.btn {
	padding: 2px 10px;
}
.row-fluid [class*="span"] {
	min-height: 26px !important;
}
.controls .others {
	margin-top: 5px;
}
.help-inline label, .help-block label {
	font-size: 10px !important;
	line-height: auto !important;
}
.help-block label.error {
	clear: both;
	margin: 0;
	color: rgb(197, 0, 0);
	font-size: 10px;
}
.help-inline .error, .help-block .error {
	color: maroon;
}
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block {
	margin-top: 2px;
}
/*.control-label {
	margin-left: 20px;
}
.form-horizontal .control-label {
	margin: 0;
}*/

.control-label .info {
	color: #bbb;
	margin: 0 10px;
	font-style: italic;
}
.form-horizontal .control-label .info {
	display: block;
	margin: 0;
}

.input-append span.add-on, .input-prepend span.add-on {
	padding: 2px 5px;
	font-size: 11px;
	color: #777;
}
/* END FORM */

/* --- FOOTER --- */
footer {
	padding: 10px 0;
	border-top: 2px solid #333;
	background-color: #111;
	color: #999;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* END FOOTER */
.list p{
	margin: 0;
}
.list li {
	padding: 10px 0;
}
.list li:first-child {
	padding: 0 0 10px 0;
}
.list-separated li {
	border-top: 1px solid #eee;
}
.list-separated li:first-child {
	border-top: none;
}
.list-hover li:hover {
	background-color: #fafafa;
}
.list.list-hover li {
	padding-left: 5px;
	padding-right: 5px;
}
.list li .list-header {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

ul.list-inline {
	padding: 0;
	margin: 0 0 0 0 !important;
	list-style: none;
}
.list-inline li {
	padding: 2px;
	display: inline;
}
.list-inline li.separator {
	padding: 2px 5px;
}
.list-inline li.active {
	font-weight: bold;
}

.well .count  span {
	float: right;
	font-size: 30px;
}
.well .count  h4 {
	margin: 0;
	padding: 0;
}
a.quick-link-large, a.quick-link-large:active, a.quick-link-large:focus {
	display: block;
	padding: 20px;
	margin: 10px 0;
	text-align: center;
	font-size: 18px;
	border: 1px solid rgba(0, 136, 204, .1);
	border-radius: 5px;
	background-color: #fff;
}
a.quick-link-large:hover {
	text-decoration: none;
	background-color: #ddd;
}

/* HACK jquery-ui */
.input-append.control-datepicker button.ui-datepicker-trigger {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-left: none;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

img.portrait {
	max-width: 90px;
	max-height: 120px;
}