<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site_get('title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% block styles %}
    {{ asset_styles()|raw }}
    {{ asset_container('additional').styles()|raw }}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_asset('packages/kreasi-kode/jet/vendor/bootstrap/ico/favicon.ico') }}">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ url_route('home') }}">{{ brand|default('Aql') }} <small><sup>{{ version|default('&alpha;')|raw }}</sup></small></a>
        </div>
      </div>
    </div>

    <!-- main-container -->
    {{ block('main_container') }}

    <footer>
      <div class="container-fluid">
        {% block footer %}
        &copy; <a href="http://kode.co.id">KreasiKode</a>
        {% endblock %}
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    {{ asset_scripts()|raw }}
    {{ asset_container('additional').scripts()|raw }}
    {% block embed_script %}
    <script>
    jQuery(function($){
      {{ site_get('jqready')|join('\n')|raw }}
    });
    </script>
    {% endblock %}

  </body>
</html>