{% extends 'jet::theme-aql.layouts.base' %}

{% block main_container %}
    <!-- <div id="aql-main-container" class="row"> -->
    <div id="aql-main-container">

      <!-- <div class="container-fluid span2" id="aql-side-nav"> -->
      <div style="float:left;width:200px;" id="aql-side-nav">
        {{ block('sidebar') }}
      </div>

      <!-- <div class="container-fluid span10" id="aql-content-container"> -->
      <div style="margin-left:200px" id="aql-content-container">
        <div class="container-fluid">
            <!-- content -->
            {{ block('content') }}
        </div>
      </div>

    </div><!--/.fluid-container-->
{% endblock %}