{% extends 'jet::theme-aql.layouts.base' %}

{% block main_container %}
    <div id="aql-main-container">
      <div class="container-fluid">
        <!-- content -->
        {{ block('content')}}
      </div>
    </div><!--/.fluid-container-->
{% endblock %}